<a-emotion-pictures>
    <a-picture picture-load defaultSource="../../../../img/ZüriseeCenter_Homepage_2160x749.jpeg" alt="randomized image">
    </a-picture>
</a-emotion-pictures>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus tenetur magni ipsa, accusantium
    numquam repellendus exercitationem voluptatum facilis nulla pariatur explicabo earum sit quas ducimus tempora
    quaerat necessitatibus. Magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugit optio, earum hic
    inventore sit error quibusdam, aliquam deleniti molestias voluptate consectetur temporibus obcaecati dolorum ea
    dolor tenetur, tempora iste.</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus tenetur magni ipsa, accusantium
    numquam repellendus exercitationem voluptatum facilis nulla pariatur explicabo earum sit quas ducimus tempora
    quaerat necessitatibus. Magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugit optio, earum hic
    inventore sit error quibusdam, aliquam deleniti molestias voluptate consectetur temporibus obcaecati dolorum ea
    dolor tenetur, tempora iste.</div>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam doloribus tenetur magni ipsa, accusantium
    numquam repellendus exercitationem voluptatum facilis nulla pariatur explicabo earum sit quas ducimus tempora
    quaerat necessitatibus. Magni? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius fugit optio, earum hic
    inventore sit error quibusdam, aliquam deleniti molestias voluptate consectetur temporibus obcaecati dolorum ea
    dolor tenetur, tempora iste.</div>
<o-body-style background-color="var(--blue)" color="var(--m-white)">
    <o-wrapper any-1-width="25%" namespace="opening-hours-wrapper-">
        <a-picture namespace="opening-hours-picture-" picture-load
            defaultSource="../../../../img/Oeffnungszeiten-Hightlight-Teaser.png" alt="Öffnungszeiten"></a-picture>
        <style>
            :host .opening-hours-title {
                --opening-hours-wrapper-p-font-size: 1em;
                --opening-hours-wrapper-p-margin: 0 0 0.75em 0;
                --opening-hours-wrapper-p-font-weight: bold;
            }

            :host .opening-hours-time {
                --opening-hours-wrapper-p-font-size: 1.65em;
                --opening-hours-wrapper-p-line-height: 1.2em;
                --opening-hours-wrapper-p-font-weight: bold;
            }
        </style>
        <div>
            <p class="opening-hours-title">Öffnungszeiten</p>
            <p class="opening-hours-time">Migros & Bäckerei Schefer: Mo-Sa 8 – 19 Uhr <br />Alle Fachgeschäfte: Mo-Sa 9
                – 19 Uhr</p>
        </div>
    </o-wrapper>
</o-body-style>
<div>
    <style>
        :host h2 {
            --h2-font-size:2em;
            --h2-line-height:1.15em;
            --h2-margin:0.75em 0 0.8em 0;
            --h2-padding:1em 0 0 0;
        }
        :host h2:before {
            width: 42px;
            height: 7px;
            background-color: #0060a8;
            content: '';
            display:block;
            margin:14px 0;
        }
    </style>
    <h2>Zürisee Center Wädenswil</h2>
    <p>Das Zürisee Center Wädenswil bietet Ihnen auf rund 7000 Quadratmetern im Bereich Wohnen und Freizeit alles, was
        einen bequemen Einkauf in unserem Center ausmacht. Selbstverständlich finden Sie im Migros-Supermarkt viel
        Frische und Qualität für Ihren täglichen Bedarf. Hier lässt man die Hektik der Grossstadt hinter sich und taucht
        ein ins praktische Einkaufserlebnis.</p>
    <p>Das Einkaufscenter ist mit allen Verkehrsmitteln gut erreichbar – mit einer Bushaltestelle direkt vor dem Center
        und in einer Minute ab der Autobahnausfahrt. Parkplätze stehen zur Verfügung.</p>
    <p>Zürisee Center Wädenswil – einfach praktisch</p>
</div>
<o-wrapper namespace=wrapper- simulate-children=2>
    <style>
        :host {
            --teaser-overlay-bg-color-hover-custom: #003a56;
            --teaser-overlay-bg-color-custom: #26b4e9;
        }
    </style>
    <m-teaser namespace=teaser-overlay- href="http://www.jowa.ch">
        <figure>
            <a-picture picture-load defaultSource="../../../../img/MV_Brunchschiff_Text_Banner_700x540px_sRGB_high.jpg"
                alt="randomized image"></a-picture>
            <figcaption>
                <h2 class=bg-color>
                    <a-arrow move direction=right></a-arrow>
                </h2>
            </figcaption>
        </figure>
    </m-teaser>
</o-wrapper>